@model dynamic
@{
    object obj = Model;
    var objStr = Newtonsoft.Json.JsonConvert.SerializeObject(obj);
}

<!DOCTYPE html>

<html ng-app="myapp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div ng-controller="mainCtrl">
        @*{tab1:{pageIndex:0,counter:0},tab2:{pageIndex:0,counter:0}}*@
        <ul ng-init="vm=@objStr">

            <li><a href="@Url.UiRouteSeqUrl("Index","Pagination",new {tabName="tab1",pageIndex=0})" ng-click="vp.click($event,'tab1')">tab 1 ({{vm.tab1.counter}})</a></li>
            <li><a href="@Url.UiRouteSeqUrl("Index","Pagination",new {tabName="tab2",pageIndex=0})" ng-click="vp.click($event,'tab2')">tab 2 ({{vm.tab2.counter}})</a></li>

            @* ==pair==
            <li><a href="@Url.ClientRoutePairUrl("Index","Pagination",new {tabName="tab1",pageIndex=0})" ng-click="vp.click($event,'tab1')">tab 1 ({{vm.tab1.counter}})</a></li>
            <li><a href="@Url.ClientRoutePairUrl("Index","Pagination",new {tabName="tab2",pageIndex=0})" ng-click="vp.click($event,'tab2')">tab 2 ({{vm.tab2.counter}})</a></li>
            *@
        </ul>

        <hr />
        @Url.UiRouteSeqUrl("Index", "Pagination", new { tabName = "tab2", pageIndex = 0 })
        <br />
        @Url.UiRoutePairUrl("Index", "Pagination", new { tabName = "tab2", pageIndex = 0 })
        
        <hr />

        <div style="display:none">@Html.Raw(HttpContext.Current.Session["htmlData"])</div>

        <div class="well" ui-view="main"></div>

    </div>

    <!-- Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <!-- UI-Router -->
    <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <script>
        var myapp = angular.module('myapp', ["ui.router"]);

        //myapp.run(function ($rootScope, $templateCache) {
        //    $rootScope.$on('$viewContentLoaded', function () {
        //        $templateCache.removeAll();
        //    });
        //});

        myapp.service("f", function () {

            return {
                vm: {}
            };

        });

        myapp
            .controller("mainCtrl", function ($scope, $templateCache, $state, f) {

                $scope.$watch("vm", function (n, o) {

                    if (n != o)
                        return;

                    f.vm = n;
                });

                $scope.vp = {
                    click: function ($event, tabName) {

                        $state.go("tab", { tabName: tabName, pageIndex: f.vm[tabName].pageIndex });
                        $event.preventDefault();

                    }
                };

            })
            .controller("tabPaginationCtrl", function ($scope, $stateParams, $timeout, f) {

                var pageIndex = $stateParams.pageIndex;
                var tabName = $stateParams.tabName;

                f.vm[tabName].pageIndex = pageIndex;

            });

        myapp.config(function ($stateProvider, $urlRouterProvider, $locationProvider) {

            $locationProvider.html5Mode(true);

            //seq
            $urlRouterProvider.otherwise("/pagination/r/tab1/0");

            $stateProvider
                .state('tab', {
                    url: "/pagination/r/{tabName}/{pageIndex}",
                    views: {
                        "main": {
                            controller: "tabPaginationCtrl",
                            templateUrl: function (params) {

                                console.log(params);
                                return '/pagination/' + params.tabName + '/r/' + params.tabName + '/' + params.pageIndex;

                            }
                        }
                    }

                });


            //pair
            //$urlRouterProvider.otherwise("/pagination/index/r/tabname/tab1/pageindex/0");

            //$stateProvider
            //    .state('tab', {
            //        url: "/pagination/index/r/tabname/{tabName}/pageindex/{pageIndex}",
            //        views: {
            //            "main": {
            //                controller: "tabPaginationCtrl",
            //                templateUrl: function (params) {

            //                    console.log(params);
            //                    return '/pagination/' + params.tabName + '/r/tabname/' + params.tabName + '/pageindex/' + params.pageIndex;

            //                }
            //            }
            //        }

            //    });

        });
    </script>

</body>

</html>
